.card-label {
    margin-top: 1000px;
    margin-left: 5px;
    padding: 10px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #ffffff;
    width: auto;
}