/* nav */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: -webkit-fill-available;
    padding: 0em 5em;
    position: absolute;
}

nav .nav-link {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.active {
    font-weight: bold;
}

.logo {
    color: white;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}

.nav-list {
    display: flex;
    text-align: center;
    margin: 0;
}