/** text destination **/

.title-text {
    margin-top: 80px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #5F7161;
}

.descrip-text {
    margin-top: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #B0B0B0;
}


/** Card Destinantion**/

.destination-image {
    height: 372.08px;
}

.destination-img {
    width: -webkit-fill-available;
}

.destination-text {
    text-align: center;
    text-decoration: none;
}

.card {
    margin-bottom: 20px;
}

.card-destinasi,
.card-image {
    min-height: 372.08px;
    max-height: 372.08px;
}

.card-image {
    width: 100%;
    object-fit: cover;
}

.card-img-overlay {
    height: fit-content;
    margin-top: auto;
}

.card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 29px;
}

a {
    text-decoration: none;
}