
.reccomen-img {
	width: 650px;
	height: 509px;
	border-radius: 10px 10px 10px 10px;
}
.reccomend-img-umkm {
	width: 1290px;
	height: 509px;
	border-radius: 10px 10px 10px 10px;
}

.reccomend-text-umkm {
	padding-bottom: 70px;
}